version: "3.9"

services:

  root:
    image: cariad/hugo-ci:${BRANCH}
    volumes:
      - .:/src
      - ./public:/pub

   root_custom_path:
    command: --public /custom-pub --source /custom-src
    image: cariad/hugo-ci:${BRANCH}
    volumes:
      - ./:/custom-src
      - ./custom-public:/custom-pub

  subdirectory:
    image: cariad/hugo-ci:${BRANCH}
    volumes:
      - ./subdirectory:/src
      - ./subdirectory/public:/pub

  upload:
    command: --s3_bucket hugoci-test-bucket-248eadwvcive
    image: cariad/hugo-ci:${BRANCH}
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
    volumes:
      - .:/src
      - ./public:/pub

  upload_with_prefix:
    command: --s3_bucket hugoci-test-bucket-248eadwvcive
    image: cariad/hugo-ci:${BRANCH}
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - S3_PREFIX=${GITHUB_SHA}
    volumes:
      - .:/src
      - ./public:/pub
